* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
.navbar{
    margin-top: 0%;
display: grid;
background-color: #134074;
 /* height:2000%; */
/* width:max-content; */ 
/* position: fixed; */
text-align: center;
}
.links{
 display: flex;
    justify-content: center;
    gap: 10%;
    font-size: 200%;
    color: aliceblue;
}
.imgLogo{
    width: 10%;
    height: 30%;

}
.li{
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    text-decoration: none;
}
.search{
    display: flex;

}
/* .Tiwtter{
    margin-top: 2%;
    margin-right:4% ;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
  }
  .Tiwtter {
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    /* text-transform: uppercase; */
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
  .Tiwtter {
    font-family: 'Teko', sans-serif;
    color: #f4f9f9be;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: center;
    padding-bottom: 1rem;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #f4f9f9;
    }
    to {
      text-shadow: 0 0 30px #f4f9f9, 0 0 6px #f4f9f9;
    }
  }
