.Article{
    display: grid;
    /* justify-content: center; */
    /* margin-top: 5%; */
    gap: 1%;
   
}
.postP{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.vbnA{
    /* background-color: #f4f5f5; */
    /* box-shadow: 0 5px 5px 0 #134074; */
    /* width: 150%; */
  }
  .postArt{
    display: flex;
    /* background-color: #f4f5f5; */
    margin-left: -20%;
    font-family: 'Times New Roman', Times, serif;
      font-size: 1.5vw;
      border-bottom: 0px solid #8D98A7;
   
  
  }
  
.post{
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
    height: 150%;
   
}
.postA{
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    
    /* border: 1px solid #8D98A7; */
    /* border-top:1px solid #8D98A7; */
    /* border-bottom: 0px solid #8D98A7; */
color: rgb(4, 4, 4);
  /* border-radius: 50px 50px; */
 
  
}
.postAR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 170%;
    height: 170%;
    width: 30%;
border-radius: 4px;

}
.Hi{
display: flex;
justify-content: end;
margin-left: 20%;
margin-top: 3.5%;

}
.articalButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    height: 170%;
    width: 5%;
}

.profile{
    display: flex;
   justify-content: center;
gap: 20%;
    font-size: 400%;
    background-color: #134074;
color: #134074;
/* gap: 10%; */
margin-top: 4%;
/* height: 140%; */
border-radius: 5%;
}
.imgA{
    height: 70%;
    width: 100%;
    border-radius: 50%;
box-shadow:5px 5px 5px  #134074;

}
.imgA:hover{
    height: 71%;
    width: 101%;
    border-radius: 50%;
box-shadow:8px 8px 8px  #134074;

}
.Age{
    /* margin-right: 20%;
    font-size: 59%;  
width:  150%; */
font-size: 70%;
font-family:  'Arial Narrow Bold' ;
font-style:oblique;
text-shadow:5px 5px 5px #090909;

}
.imgProfile{
    display: flex;
    margin-right: 50%;
/* border-radius: 70px; */
width: 70%;
height: 100%;
box-shadow: 5px 5px 10px  #134074;
} 
.data{
    display: grid;
    justify-items: center;
   /* height: 150%; */
   /* margin-top: 0%; */
   /* background-color: #134074; */
   color: #a8a7a7;
/* border-radius: 20%; */


   /* margin-right: 10%; */
}
/* .firstName{
    margin-top: -10%;
    display: flex;
    justify-self: start;
    margin-right: 20%;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.bio{
   
    display: flex;
    font-size: 50%;
   font-family:  'Arial Narrow Bold' ;
   font-style:oblique;
margin-top: 20%;
width:  200%;
text-shadow:5px 5px 5px #090909;
}
.country{
     
  
    font-size: 70%;
   font-family:  'Arial Narrow Bold' ;
   font-style:oblique;
text-shadow:5px 5px 5px #090909;
}
.file{
    display: flex;
    justify-content:center;
    color:aliceblue;

}

.articalButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    /* height: 150%; */
   background-color: #134074;
 border-radius: 4px;
 color: aliceblue;
}
.articalButton:hover{
   
    font-size: 110%;
    transition: 0.4s;
}

.postPageA{
    display: grid;
    justify-content: center;
  justify-self: center;
  width: 40%;
  /* height: 168%; */
    border: 5px solid #134074;
    background-color: #cdcdce;
    border-radius: 8px;
   
}
.firstNameA{
    font-size: calc( 1em + 3vmin );
    /* font-weight: 900; */
    color: #cdcdce;
    height: 40%;
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: rgb(0, 0, 0);
    --stroke-color: #cdcdce;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    

}
.likeA {
    position: relative;
    background-color: #134074;
    border: none;
    font-size: 100%;
    color: #FFFFFF;
    padding: 20px;
    width: 30%;
    height: 70%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
  }
  .likeA:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
    
  }
  .likeA:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
    
  }
  
.footerA {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #134074;
    color: white;
    font-size: 100%;
    text-align: center;
    
}