.Article{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    gap: 1%;
   
}
.post{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    height: 150%;
}
.articalButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    height: 150%;
}
.profile{
    display: flex;
    justify-content:right;
    font-size: 400%;
    /* background-color: rgb(6, 6, 98); */
color: rgb(6, 6, 98);
gap: 10%;
}
.Age{
    font-size: 35%;  
}
.imgProfile{
    display: flex;
    margin-right: 50%;
border-radius: 70px;
width: 35%;
height: 100%;
box-shadow: 5px 5px 10px  rgb(6, 6, 98);
}
.firstName{
    margin-top: -10%;
    display: flex;
    justify-self: start;
    margin-right: 20%;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bio{
   
    display: grid;
    font-size: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 20%;

}
.file{
    display: flex;
    justify-content:center;
    color:aliceblue;

}
