.Article{
    display: grid;
    /* justify-content: center; */
    margin-top: 5%;
    gap: 6%;
   
}
.post{
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
    height: 150%;
   
}
.postA{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  
}
.postAR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 170%;
    height: 170%;
    width: 30%;
border-radius: 4px;

}
.Hi{
display: flex;

margin-left: 20%;
}
.articalButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    height: 170%;
    width: 5%;
}

.profile{
    display: flex;
   justify-content: center;
gap: 20%;
    font-size: 400%;
    /* background-color: rgb(6, 6, 98); */
color: #134074;
/* gap: 10%; */
margin-top: 4%;
}
.imgA{
    height: 150%;
    width: 150%;
}
.Age{
    /* margin-right: 20%;
    font-size: 59%;  
width:  150%; */
font-size: 70%;
font-family:  'Arial Narrow Bold' ;
font-style:oblique;
text-shadow:5px 5px 5px #a8a7a7;
}
/* .imgProfile{
    display: flex;
    margin-right: 50%;
border-radius: 70px;
width: 35%;
height: 100%;
box-shadow: 5px 5px 10px  #134074;
} */
.data{
    display: grid;
    justify-items: center;
   height: 150%;
   /* margin-top: 2%; */
   background-color: #134074;
   color: aliceblue;
border-radius: 70px;


   /* margin-right: 10%; */
}
/* .firstName{
    margin-top: -10%;
    display: flex;
    justify-self: start;
    margin-right: 20%;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.bio{
   
    display: flex;
    font-size: 60%;
   font-family:  'Arial Narrow Bold' ;
   font-style:oblique;
margin-top: 20%;
/* width:  150%; */
text-shadow:5px 5px 5px #a8a7a7;
}
.country{
     
  
    font-size: 70%;
   font-family:  'Arial Narrow Bold' ;
   font-style:oblique;
text-shadow:5px 5px 5px #a8a7a7;
}
.file{
    display: flex;
    justify-content:center;
    color:aliceblue;

}
.articalButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    /* height: 150%; */
   background-color: #134074;
 border-radius: 4px;
 color: aliceblue;
}
.articalButton:hover{
   
    font-size: 110%;
    transition: 0.4s;
}
.postPageA{
    display: grid;
    justify-content: center;
  justify-self: center;
  width: 40%;
  height: 168%;
    border: 5px solid #134074;
    background-color: #cdcdce;
    border-radius: 8px;
   
}
.firstNameA{
    font-size: calc( 1em + 3vmin );
    /* font-weight: 900; */
    color: #134074;
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: #a4bdd9;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    

}