.Register{
    display: grid;
    justify-content: center;
    margin-top: 5%;
    font-size: 400%;
    font-family: 'Courier New', Courier, monospace;
    gap: 4%;

}

.RegisterButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 140%;
   background-color: #134074;
 border-radius: 4px;
 color: aliceblue;
 position: relative;
 background-color: #134074;
 border: none;
 font-size: 28px;
 /* color: #FFFFFF; */
 padding: 20px;
 /* width: 30%;
 height: 50%; */
 text-align: center;
 transition-duration: 0.4s;
 text-decoration: none;
 overflow: hidden;
 cursor: pointer;
 /* transition: 0.4s; */
   
}
.RegisterButton:hover{
 color:aliceblue ;
 font-size: 40%;
 transition: 0.4s;

}
.RegisterButton:after {
    content: "";
    background: aliceblue;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
  }
  .RegisterButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .name{
    display: flex;
    justify-content: center;
    gap: 5%;
  }
.firstNameR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.lastName{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.age{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.country{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.bioR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.email{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.passwordR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.imgR{
display: grid;
justify-content: center;
height: 255px;
width: 255px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #134074;
    color: white;
    font-size: 30%;
    text-align: center;
    
}
