.Register{
    display: grid;
    justify-content: center;
    margin-top: 5%;
    font-size: 400%;
    font-family: 'Courier New', Courier, monospace;
    gap: 5%;

}
.RegisterButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
   background-color: rgb(6, 6, 98);
 border-radius: 4px;
 color: aliceblue;

   
}
.RegisterButton:hover{
 color:aliceblue ;
 font-size: 40%;

}
.firstNameR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.lastName{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.age{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.country{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.bioR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.email{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.password{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
}
.imgR{

height: 255px;
width: 255px;
}