
 .Register{
    display: flex;
    justify-content: end;
    margin-top: 1%;
    /* font-size: 400%; */
    /* margin-right: 20%; */
    font-family: 'Courier New', Courier, monospace;
    /* gap: 10%; */

} 
.hi{
    display: grid;
    justify-content: end;
    margin-top: 5%;
    font-size: 350%;
    margin-right: 20%;
width: 90%;
    font-family: 'Courier New', Courier, monospace;
    gap: 7%;
}
.IMG{
 display: flex;
 justify-content:start ;
 margin-left: 10%;

}
.ii{
    height: 100%;
    width: 120%;
   
}
.waviy {
    display: flex;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    
  }
  .waviy span {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: inline-block;
    color: #134074;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
.RegisterButton{
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 60%;
    width: 50%;
   
   background-color: #134074;
 border-radius: 4px;
 color: aliceblue;
 position: relative;
 background-color: #134074;
 border: none;
 font-size: 28px;
 /* color: #FFFFFF; */
 padding: 20px;
 /* width: 30%;
 height: 50%; */
 text-align: center;
 transition-duration: 0.4s;
 text-decoration: none;
 overflow: hidden;
 cursor: pointer;
 /* transition: 0.4s; */
   
}
.RegisterButton:hover{
 color:aliceblue ;
 font-size: 30px;
 transition: 0.4s;

}
.RegisterButton:after {
    content: "";
    background: aliceblue;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
  }
  .RegisterButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .name{
    display: flex;
    justify-content: center;
    gap: 5%;
  }
.firstNameR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35%;
    height: 150%;
    box-shadow: 5px 5px 5px #134074;
    border-radius: 8px;
}
.firstNameR:hover{
    box-shadow: 8px 8px 8px #134074;
}
.lastNameR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
    box-shadow: 5px 5px 5px #134074;
    border-radius: 8px;
}
.lastNameR:hover{
    box-shadow: 8px 8px 8px #134074;
}
.ageR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
    box-shadow: 5px 5px 5px #134074;
    border-radius: 8px;
}
.lastNameR:hover{
    box-shadow: 8px 8px 8px #134074;
}
.countryR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
    box-shadow: 5px 5px 5px #134074;
    border-radius: 8px;
}
.countryR:hover{
    box-shadow: 8px 8px 8px #134074;
}
.bioR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
    box-shadow: 5px 5px 5px #134074;
    border-radius: 8px;
}
.bioR:hover{
    box-shadow: 8px 8px 8px #134074;
}
.emailR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
    box-shadow: 5px 5px 5px #134074;
    border-radius: 8px;
}
.emailR:hover{
    box-shadow: 8px 8px 8px #134074;
}
.passwordR{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30%;
    height: 150%;
    box-shadow: 5px 5px 5px #134074;
    border-radius: 8px;
}
.passwordR:hover{
    box-shadow: 8px 8px 8px #134074;
}

.imgR{
display: grid;
justify-content: center;
height: 255px;
width: 255px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #134074;
    color: white;
    font-size: 30%;
    text-align: center;
    
}
